h1 a {
    color: #FCA205;
}

h1{
    text-align: center;
    font-family: Papyrus;
}

h2{
    text-align: center;
    font-size: 20px;
    font-family: Papyrus;
}

p {
    text-align: center;
}

body p {
    font-style:italic;
}

.post {
    color: #FCA205;
    font-family: 'Dancing Script', cursive;
}
  
.page-header {
    background-color: #A89797;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
  
.container{
    display: flex;
    justify-content: space-around;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FCA205;
  }
   
.navbar a{
    color: #FFFFFF;
}

.post-form{
    position: absolute;
    top: 40%;
    left: 35%;
}

.post-form button{
    position: absolute;
    top: 100%;
    left: 85%;
}

div a{
    padding:20px;
}

.login{
    position: absolute;
    top: 40%;
    left: 40%;
}